@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Please feel free to browse the site and contact me if you have any questions.</p>
<p>- Miss Darryl Lisk-Carew - Developer-Artist</p>
